Repository Dylan-Hampton/Semantic-Visit-Aware-Recommendation-of-Hotels: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, deploy-frontend, deploy-backend

test:
  image: node
  stage: test
  before_script:
  - cd Frontend/svarh/
  - npm install
  script:
  - npm run test:ci
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage/
    when: always
    reports:
      junit:
      - junit.xml

deploy-frontend:
  image: node
  stage: deploy-frontend
  environment:
    name: production
    url: http://sdmay23-34.ece.iastate.edu/
  script:
  - cd Frontend/svarh/
  - bash deploy/deploy.sh

deploy-backend:
  stage: deploy-backend
  script:
  - cd Backend/
  - bash deploy/deploy.sh

Added check for max origins, working on getting tests for dropdown options
  Frontend/svarh/src/components/App/App.test.tsx
  Frontend/svarh/src/components/inputBar/inputFields/CityDropdown/CityDropdown.tsx
  Frontend/svarh/src/components/inputBar/inputFields/PoIDropdown/PoiDropdown.tsx
Due: test, deploy-frontend

Added Hotel List item, Recommended Hotel list now shown
  Frontend/svarh/src/components/App/App.tsx
  Frontend/svarh/src/components/results/recommendedHotels/Hotel.ts
  Frontend/svarh/src/components/results/recommendedHotels/HotelListItem/HotelListItem.css
  Frontend/svarh/src/components/results/recommendedHotels/HotelListItem/HotelListItem.tsx
  Frontend/svarh/src/components/results/recommendedHotels/RecommendedHotels.css
  Frontend/svarh/src/components/results/recommendedHotels/RecommendedHotels.tsx
Due: test, deploy-frontend

Changed test since Generated Route is hidden
  Frontend/svarh/src/components/App/App.test.tsx
Due: test, deploy-frontend

Trying to use enzyme to check dropdown options, not working; maybe try mocking the dropdown props?
  Frontend/svarh/package-lock.json
  Frontend/svarh/package.json
  Frontend/svarh/src/components/App/App.test.tsx
Due: test, deploy-frontend

backend refactoring
  .DS_Store
  Backend/.DS_Store
  Backend/app.py
Due: deploy-backend

Fixed issue with tests because of hidden generated route
  Frontend/svarh/src/components/App/App.test.tsx
Due: test, deploy-frontend

Added backend testing stage to yml
  .gitlab-ci.yml
  Backend/tests/test_index_route.py
Due: deploy-backend

removed other stages for testing purposes
  .gitlab-ci.yml
Due: none

commented out other stages
  .gitlab-ci.yml
Due: none

change yml
  .gitlab-ci.yml
Due: none

added sudo to cmd
  .gitlab-ci.yml
Due: none

removed sudo from cmd
  .gitlab-ci.yml
Due: none

Changed test route and yml
  .gitlab-ci.yml
  Backend/tests/test_api_route_availability.py
Due: deploy-backend

fixed format issue
  .gitlab-ci.yml
Due: none

Added request body to routes test and fix small issue in app.py
  Backend/app.py
  Backend/tests/test_api_route_availability.py
Due: deploy-backend

Ignore deprecation warnings
  .gitlab-ci.yml
Due: none

Add short summary option to pytest
  .gitlab-ci.yml
Due: none

Uncommented other stages in yml
  .gitlab-ci.yml
Due: none

added an init file
  Backend/__init__.py
Due: deploy-backend

Fixed styling and console error
  Frontend/svarh/src/components/inputBar/submissionFrame/SubmissionFrame.css
  Frontend/svarh/src/components/inputBar/submissionFrame/SubmissionFrame.tsx
  Frontend/svarh/src/components/results/recommendedHotels/RecommendedHotels.css
  Frontend/svarh/src/components/results/recommendedHotels/RecommendedHotels.tsx
Due: test, deploy-frontend

Added test for max # of origins
  Frontend/svarh/src/components/App/App.test.tsx
Due: test, deploy-frontend

Added GD route generation tests
  Backend/tests/test_route_generation.py
Due: deploy-backend

Added RWR route generation test
  Backend/tests/test_route_generation.py
Due: deploy-backend

Added PoI first route generation test
  Backend/tests/test_route_generation.py
Due: deploy-backend

Added origin first route generation test
  Backend/tests/test_route_generation.py
Due: deploy-backend

Added invalid input tests for the routes endpoint
  Backend/tests/test_invalid_input.py
Due: deploy-backend

Removed the summary info when running tests (caused clutter with all of the captured stdout)
  .gitlab-ci.yml
Due: none

Removed comment
  Backend/tests/test_route_generation.py
Due: deploy-backend

added init file to the test folder
  Backend/tests/__init__.py
Due: deploy-backend

Added dispatches to components
  Frontend/svarh/src/components/inputBar/inputFields/CityDropdown/CityDropdown.tsx
  Frontend/svarh/src/components/inputBar/inputFields/MaximumDistanceField/MaximumDistance.tsx
  Frontend/svarh/src/components/inputBar/inputFields/PoIDropdown/PoiDropdown.tsx
  Frontend/svarh/src/components/inputBar/submissionFrame/SubmissionFrame.tsx
  Frontend/svarh/src/components/inputBar/submissionFrame/submitSlice.ts
  Frontend/svarh/src/data/request/RouteRequest.ts
Due: test, deploy-frontend

Packaged basic inputs into a thunk for requesting a route
  Frontend/svarh/src/components/inputBar/inputFields/PoIDropdown/PoiDropdown.tsx
  Frontend/svarh/src/components/inputBar/submissionFrame/SubmissionFrame.tsx
  Frontend/svarh/src/components/inputBar/submissionFrame/submitSlice.ts
Due: test, deploy-frontend

Added fetch request for route generation
  Frontend/svarh/src/components/inputBar/submissionFrame/SubmissionFrame.tsx
  Frontend/svarh/src/components/inputBar/submissionFrame/submitSlice.ts
Due: test, deploy-frontend

Got fetch request for generating routes working
  Backend/app.py
  Frontend/svarh/src/components/inputBar/submissionFrame/submitSlice.ts
Due: test, deploy-frontend, deploy-backend

Implemented Redux. User can now change every option and submit to generate a route on the local development backend
  Frontend/svarh/src/components/inputBar/advancedSettings/Settings/Settings.tsx
  Frontend/svarh/src/components/inputBar/advancedSettings/SettingsMenu/SettingsMenu.tsx
  Frontend/svarh/src/components/inputBar/inputFields/CityDropdown/CityDropdown.tsx
  Frontend/svarh/src/components/inputBar/inputFields/PoIDropdown/PoIQuantity/PoIQuantity.tsx
  Frontend/svarh/src/components/inputBar/inputFields/PoIDropdown/PoiDropdown.tsx
  Frontend/svarh/src/components/inputBar/inputFields/PoIDropdown/PoiListItem/PoIListItem.tsx
  Frontend/svarh/src/components/inputBar/submissionFrame/SubmissionFrame.tsx
  Frontend/svarh/src/components/inputBar/submissionFrame/submitSlice.ts
  Frontend/svarh/src/data/Algorithm.ts
  Frontend/svarh/src/data/api.tsx
Due: test, deploy-frontend

Added Dropdown Back
  Frontend/svarh/src/components/inputBar/inputFields/PoIDropdown/PoIQuantity/PoIQuantity.tsx
  Frontend/svarh/src/components/inputBar/inputFields/PoIDropdown/PoiDropdown.tsx
  Frontend/svarh/src/components/inputBar/inputFields/PoIDropdown/PoiListItem/PoIListItem.tsx
Due: test, deploy-frontend

Dropdown now works with props and removed hooks from child components
  Frontend/svarh/src/components/inputBar/inputFields/PoIDropdown/PoiDropdown.tsx
  Frontend/svarh/src/components/inputBar/inputFields/PoIDropdown/PoiListItem/PoIListItem.tsx
Due: test, deploy-frontend

Fixed eslint warnings
  Frontend/svarh/src/components/inputBar/inputFields/PoIDropdown/PoiListItem/PoIListItem.tsx
  Frontend/svarh/src/components/inputBar/inputFields/SubmitButton/SubmitButton.tsx
  Frontend/svarh/src/data/api.tsx
Due: test, deploy-frontend

Fixed test issues, changed default number of max origins
  Frontend/svarh/package-lock.json
  Frontend/svarh/package.json
  Frontend/svarh/src/components/App/App.test.tsx
  Frontend/svarh/src/components/inputBar/submissionFrame/submitSlice.ts
Due: test, deploy-frontend

Changed requests from GET to POST
  Backend/tests/test_api_route_availability.py
  Backend/tests/test_invalid_input.py
  Backend/tests/test_route_generation.py
Due: deploy-backend

Path conditions:
  test: any of: Frontend/**/*
  deploy-frontend: any of: Frontend/**/*
  deploy-backend: any of: Backend/**/*
