Repository Dylan-Hampton/Semantic-Visit-Aware-Recommendation-of-Hotels: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, deploy-frontend, deploy-backend

test:
  image: node
  stage: test
  before_script:
  - cd Frontend/svarh/
  - npm ci
  script:
  - npm run test:ci
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage/
    when: always
    reports:
      junit:
      - junit.xml

deploy-frontend:
  image: node
  stage: deploy-frontend
  environment:
    name: production
    url: http://sdmay23-34.ece.iastate.edu/
  script:
  - cd Frontend/svarh/
  - bash deploy/deploy.sh

deploy-backend:
  stage: deploy-backend
  script:
  - cd Backend/
  - bash deploy/deploy.sh

Route View only closes on Hotel click
  Frontend/svarh/src/components/results/recommendedHotels/HotelListItem/HotelListItem.tsx
Due: test, deploy-frontend

Order pois in routes response
  Backend/app.py
Due: deploy-backend

created a new package to organize modules
  Backend/app.py
  Backend/map_package/__init__.py
  Backend/map_package/graph.py
  Backend/map_package/index.py
  Backend/map_package/origin.py
  Backend/map_package/result.py
Due: deploy-backend

updates to app file
  Frontend/svarh/src/components/results/recommendedHotels/Route/RouteItem.css
  Frontend/svarh/src/components/results/recommendedHotels/Route/RouteItem.tsx
  Frontend/svarh/src/data/IconMap.tsx
Due: test, deploy-frontend

imported the modules from the package
  Backend/app.py
Due: deploy-backend

moved functions from app.py into result
  Backend/map_package/result.py
Due: deploy-backend

changed PaDOC-Query to PaDOC_Query
  Backend/app.py
Due: deploy-backend

Update README.md
  README.md
Due: none

added return for the routes
  Backend/app.py
Due: deploy-backend

Changed file names and imports
  Backend/app.py
  Backend/map_package/graph.py
  Backend/map_package/origin.py
Due: deploy-backend

Update .gitignore
  Backend/.gitignore
Due: deploy-backend

added multiple city functionality, fixed poi order missing
  .DS_Store
  Backend/.DS_Store
  Backend/PaDOC_Query/.DS_Store
  Backend/PaDOC_Query/PoI_Network/.DS_Store
  Backend/app.py
  Backend/map_package/.DS_Store
  Backend/map_package/graph.py
  Backend/map_package/origin.py
  Backend/map_package/result.py
Due: deploy-backend

accidentally forgot to delete a line for testing
  Backend/app.py
Due: deploy-backend

allowing more input for city sleection on backend
  Backend/app.py
Due: deploy-backend

forgot to delete a line for testing again
  Backend/app.py
Due: deploy-backend

Added city field to routes request
  Frontend/svarh/src/components/inputBar/submissionFrame/SubmissionFrame.tsx
  Frontend/svarh/src/data/api.tsx
  Frontend/svarh/src/data/request/RouteRequest.ts
Due: test, deploy-frontend

global variables now all contained in flask app
  Backend/.DS_Store
  Backend/app.py
Due: deploy-backend

Changed encoding to utf-8
  Backend/map_package/origin.py
Due: deploy-backend

Quick fix to backend test cases for new city attribute
  Backend/tests/test_api_route_availability.py
  Backend/tests/test_invalid_input.py
  Backend/tests/test_route_generation.py
Due: deploy-backend

Fix issue for 6 or more pois
  Backend/PaDOC_Query/GreedySearch.py
Due: deploy-backend

Removed invalid test case as issue is now fixed
  Backend/tests/test_invalid_input.py
Due: deploy-backend

Started toggle process
  Frontend/svarh/src/components/results/Results.tsx
  Frontend/svarh/src/components/results/generatedRoute/GeneratedRoute/GeneratedRoute.css
  Frontend/svarh/src/components/results/generatedRoute/GeneratedRoute/GeneratedRoute.tsx
  Frontend/svarh/src/components/results/generatedRoute/ReturnButton/ReturnButton.tsx
  Frontend/svarh/src/components/results/recommendedHotels/HotelListItem/HotelListItem.tsx
  Frontend/svarh/src/components/results/recommendedHotels/ListControlButton/ListControlButton.css
  Frontend/svarh/src/components/results/recommendedHotels/ListControlButton/ListControlButton.tsx
  Frontend/svarh/src/components/results/recommendedHotels/RecommendedHotels.tsx
Due: test, deploy-frontend

Routes expand and collapse in list
  Frontend/svarh/src/components/App/App.test.tsx
  Frontend/svarh/src/components/results/recommendedHotels/ListControlButton/ListControlButton.tsx
  Frontend/svarh/src/components/results/recommendedHotels/RecommendedHotels.css
  Frontend/svarh/src/components/results/recommendedHotels/RecommendedHotels.tsx
Due: test, deploy-frontend

Added new requirements.txt
  Backend/requirements.txt
Due: deploy-backend

Added Expand Route button to each route
  Frontend/svarh/src/components/results/recommendedHotels/HotelListItem/HotelListItem.tsx
  Frontend/svarh/src/components/results/recommendedHotels/ListControlButton/ListControlButton.tsx
  Frontend/svarh/src/components/results/recommendedHotels/RecommendedHotels.tsx
  Frontend/svarh/src/components/results/recommendedHotels/Route/ExpandRoute/ExpandRouteButton.css
  Frontend/svarh/src/components/results/recommendedHotels/Route/ExpandRoute/ExpandRouteButton.tsx
  Frontend/svarh/src/components/results/recommendedHotels/Route/RouteItem.css
  Frontend/svarh/src/components/results/recommendedHotels/Route/RouteItem.tsx
Due: test, deploy-frontend

Removed print statement
  Frontend/svarh/src/components/results/recommendedHotels/RecommendedHotels.tsx
Due: test, deploy-frontend

Split route toggle into two toggles
  Frontend/svarh/src/components/results/recommendedHotels/ListControlButton/ListControlButton.css
  Frontend/svarh/src/components/results/recommendedHotels/ListControlButton/ListControlButton.tsx
  Frontend/svarh/src/components/results/recommendedHotels/RecommendedHotels.css
  Frontend/svarh/src/components/results/recommendedHotels/RecommendedHotels.tsx
Due: test, deploy-frontend

Fixed hitboxes for route toggle buttons
  Frontend/svarh/src/components/results/recommendedHotels/ListControlButton/ListControlButton.css
  Frontend/svarh/src/components/results/recommendedHotels/ListControlButton/ListControlButton.tsx
  Frontend/svarh/src/components/results/recommendedHotels/RecommendedHotels.css
Due: test, deploy-frontend

Added Chicago test cases and cleaned up parts of code
  Backend/app.py
  Backend/map_package/CONSTANTS.py
  Backend/map_package/result.py
  Backend/tests/test_api_route_availability.py
  Backend/tests/test_chicago_route_generation.py
  Backend/tests/test_invalid_input.py
  Backend/tests/test_ny_route_generation.py
Due: deploy-backend

Added small clean ups
  Backend/app.py
  Frontend/svarh/src/components/App/App.tsx
  Frontend/svarh/src/components/inputBar/inputFields/CityDropdown/CityDropdown.tsx
  Frontend/svarh/src/components/inputBar/inputFields/PoIDropdown/PoiDropdown.tsx
  Frontend/svarh/src/components/inputBar/inputFields/PoIDropdown/PoiListItem/PoIListItem.tsx
  Frontend/svarh/src/components/inputBar/submissionFrame/SubmissionFrame.css
  Frontend/svarh/src/components/map/MapBase/MapBase.tsx
  Frontend/svarh/src/components/map/Marker/MapMarker.tsx
  Frontend/svarh/src/components/results/recommendedHotels/HotelListItem/HotelListItem.tsx
  Frontend/svarh/src/components/results/recommendedHotels/ListControlButton/ListControlButton.tsx
  Frontend/svarh/src/components/results/recommendedHotels/RecommendedHotels.tsx
  Frontend/svarh/src/data/City.ts
  Frontend/svarh/src/data/IconMap.tsx
  Frontend/svarh/src/routeDataSlice.ts
Due: test, deploy-frontend, deploy-backend

Added metric data object, added metric selection to slice, need to get dropdown to properly set and sit inline with max distance
  Frontend/svarh/src/components/inputBar/inputFields/MaximumDistanceField/MaximumDistance.css
  Frontend/svarh/src/components/inputBar/inputFields/MaximumDistanceField/MaximumDistance.tsx
  Frontend/svarh/src/components/inputBar/inputFields/MetricDropdown/MetricDropdown.css
  Frontend/svarh/src/components/inputBar/inputFields/MetricDropdown/MetricDropdown.tsx
  Frontend/svarh/src/components/inputBar/submissionFrame/SubmissionFrame.css
  Frontend/svarh/src/components/inputBar/submissionFrame/SubmissionFrame.tsx
  Frontend/svarh/src/data/DistanceMetric.ts
  Frontend/svarh/src/routeDataSlice.ts
Due: test, deploy-frontend

refactored a bit, slice is storing correctly but need to fix conversion before route send
  Frontend/svarh/src/components/inputBar/inputFields/MaximumDistanceField/MaximumDistance.css
  Frontend/svarh/src/components/inputBar/inputFields/MetricDropdown/MetricDropdown.tsx
  Frontend/svarh/src/components/inputBar/submissionFrame/SubmissionFrame.tsx
  Frontend/svarh/src/data/DistanceMetric.ts
  Frontend/svarh/src/data/api.tsx
  Frontend/svarh/src/routeDataSlice.ts
Due: test, deploy-frontend

Refactored styles and finished metric conversions
  Frontend/svarh/src/components/inputBar/inputFields/MaximumDistanceField/MaximumDistance.tsx
  Frontend/svarh/src/components/inputBar/inputFields/MetricDropdown/MetricDropdown.tsx
  Frontend/svarh/src/components/inputBar/submissionFrame/SubmissionFrame.tsx
  Frontend/svarh/src/data/api.tsx
  Frontend/svarh/src/routeDataSlice.ts
Due: test, deploy-frontend

added tests for results and getindex
  Backend/tests/test_get_index.py
  Backend/tests/test_results.py
Due: deploy-backend

Added backend setup/testing to README
  Backend/README.md
  Backend/app.py
Due: deploy-backend

Remove highlighting
  Backend/README.md
Due: deploy-backend

Made changes to backend readme and added frontend readme
  Backend/README.md
  Frontend/README.md
Due: test, deploy-frontend, deploy-backend

added new category test
  Backend/tests/test_poi_categories.py
Due: deploy-backend

Path conditions:
  test: any of: Frontend/**/*
  deploy-frontend: any of: Frontend/**/*
  deploy-backend: any of: Backend/**/*
