Repository Dylan-Hampton/Semantic-Visit-Aware-Recommendation-of-Hotels: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, deploy-frontend, deploy-backend

.gitlab-ci.yml:

stages:
  - test-backend

cache:
  paths:
    - Frontend/svarg/node_modules/

before_script:
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_PRIVATE_KEY")
  - mkdir -p ~/.ssh
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'

test:
  image: node
  stage: test
  before_script:
    - cd Frontend/svarh/
    - npm ci
  script:
    - npm run test:ci
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  artifacts:
    paths:
      - coverage/
    when: always
    reports:
      junit:
        - junit.xml
  only:
    refs:
      - main
    changes:
      - Frontend/**/*

test-backend:
  stage: test-backend
  before_script:
    - source /home/vm-user/environments/python37/bin/activate
  script:
    cd Backend/
    pytest
  # only:
  #   refs:
  #     - main
  #   changes:
  #     - Backend/**/*

deploy-frontend:
  image: node
  stage: deploy-frontend
  environment:
    name: production
    url: http://sdmay23-34.ece.iastate.edu/
  script:
    - cd Frontend/svarh/
    - bash deploy/deploy.sh
  only:
    refs:
      - main
    changes:
      - Frontend/**/*

deploy-backend:
  stage: deploy-backend
  script:
    - cd Backend/
    - bash deploy/deploy.sh
  only:
    refs:
      - main
    changes:
      - Backend/**/*

new changes
  README
Due: none

changed the file name of the readme
  README.md
Due: none

added more content to the readme
  README.md
Due: none

changes to readme
  README.md
Due: none

updates to the readme
  README.md
Due: none

added images folder for the readme image
  images/mappingicon.png
Due: none

added image
  README.md
Due: none

Changed for NY data
  Backend/PaDOC-Query/ParallelContractNetwork.py
  Backend/PaDOC-Query/PoIOSMNetwork.py
  Backend/PaDOC-Query/geocode.py
Due: deploy-backend

Commented out backend tests
  Backend/tests/test_invalid_input.py
  Backend/tests/test_route_generation.py
Due: deploy-backend

changed the email format
  README.md
Due: none

Added zoom on hotel selection
  Frontend/svarh/src/components/App/App.tsx
  Frontend/svarh/src/components/map/MapBase/MapBase.tsx
Due: test, deploy-frontend

Added auto zoom for origins on route recieved
  Frontend/svarh/src/components/map/MapBase/MapBase.tsx
Due: test, deploy-frontend

Fixed test cases for updated NY data
  Backend/tests/test_invalid_input.py
  Backend/tests/test_route_generation.py
Due: deploy-backend

Modified origin fit bounds padding to (hopefully) avoid cutting hiding origins with search / hotel frames
  Frontend/svarh/src/components/map/MapBase/MapBase.tsx
Due: test, deploy-frontend

created a separate graph file
  Backend/graph.py
Due: deploy-backend

created separate index file
  Backend/index.py
Due: deploy-backend

origin file added
  Backend/origin.py
Due: deploy-backend

changed padding
  Frontend/svarh/src/components/map/MapBase/MapBase.tsx
Due: test, deploy-frontend

added result file
  Backend/resulty.py
Due: deploy-backend

Modified tests to work with new merge
  Frontend/svarh/src/components/App/App.test.tsx
Due: test, deploy-frontend

Update README.md
  README.md
Due: none

Potentially fixed index issue for poi/origin first
  Backend/PaDOC-Query/GreedySearch.py
Due: deploy-backend

Switched to break (both ways seemed to run the same amount)
  Backend/PaDOC-Query/GreedySearch.py
Due: deploy-backend

somewhat close?
  Frontend/svarh/src/components/map/MapBase/MapBase.tsx
Due: test, deploy-frontend

for laptop use
  Frontend/svarh/src/components/map/MapBase/MapBase.tsx
Due: test, deploy-frontend

Added multiple names to identical PoIs
  Frontend/svarh/src/components/map/MapBase/MapBase.tsx
  Frontend/svarh/src/components/map/Marker/MarkerPopup.tsx
  Frontend/svarh/tsconfig.json
Due: test, deploy-frontend

Fix for adding names to PoIs
  Frontend/svarh/src/components/map/MapBase/MapBase.tsx
Due: test, deploy-frontend

additions to the result file
  Backend/resulty.py
Due: deploy-backend

will add import and files after new files are merged
  Backend/app.py
Due: deploy-backend

Revert "will add import and files after new files are merged"
  Backend/app.py
Due: deploy-backend

Update resulty.py
  Backend/result.py
Due: deploy-backend

Fixed error relating to new 'names' map
  Frontend/svarh/src/components/map/MapBase/MapBase.tsx
Due: test, deploy-frontend

Added route item to hotel list
  Frontend/svarh/src/components/App/App.test.tsx
  Frontend/svarh/src/components/inputBar/inputFields/PoIDropdown/PoiDropdown.tsx
  Frontend/svarh/src/components/map/MapBase/MapBase.tsx
  Frontend/svarh/src/components/map/Marker/MapMarker.css
  Frontend/svarh/src/components/results/Results.tsx
  Frontend/svarh/src/components/results/generatedRoute/GeneratedRoute/GeneratedRoute.tsx
  Frontend/svarh/src/components/results/generatedRoute/Route/Route.tsx
  Frontend/svarh/src/components/results/recommendedHotels/Hotel.ts
  Frontend/svarh/src/components/results/recommendedHotels/HotelListItem/HotelListItem.css
  Frontend/svarh/src/components/results/recommendedHotels/HotelListItem/HotelListItem.tsx
  Frontend/svarh/src/components/results/recommendedHotels/RecommendedHotels.tsx
  Frontend/svarh/src/components/results/recommendedHotels/Route/RouteItem.css
  Frontend/svarh/src/components/results/recommendedHotels/Route/RouteItem.tsx
  Frontend/svarh/src/data/IconMap.tsx
  Frontend/svarh/src/mapDataSlice.ts
Due: test, deploy-frontend

Added key prop
  Frontend/svarh/src/components/results/recommendedHotels/Route/RouteItem.css
  Frontend/svarh/src/components/results/recommendedHotels/Route/RouteItem.tsx
  Frontend/svarh/src/data/api.tsx
Due: test, deploy-frontend

Listed route now shows matching icons
  Frontend/svarh/src/components/results/recommendedHotels/Route/RouteItem.tsx
Due: test, deploy-frontend

PoI hover effect
  Frontend/svarh/src/components/map/Marker/MapMarker.css
Due: test, deploy-frontend
