Repository Dylan-Hampton/Semantic-Visit-Aware-Recommendation-of-Hotels: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, deploy-frontend, deploy-backend

test:
  image: node
  stage: test
  before_script:
  - cd Frontend/svarh/
  - npm ci
  script:
  - npm run test:ci
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  artifacts:
    paths:
    - coverage/
    when: always
    reports:
      junit:
      - junit.xml

deploy-frontend:
  image: node
  stage: deploy-frontend
  environment:
    name: production
    url: http://sdmay23-34.ece.iastate.edu/
  script:
  - cd Frontend/svarh/
  - bash deploy/deploy.sh

deploy-backend:
  stage: deploy-backend
  script:
  - cd Backend/
  - bash deploy/deploy.sh

Added conversion factor for miles to meters; will need to update this once we have variable distance units
  Frontend/svarh/src/data/api.tsx
Due: test, deploy-frontend

const -> let
  Frontend/svarh/src/data/api.tsx
Due: test, deploy-frontend

casting
  Frontend/svarh/src/data/api.tsx
Due: test, deploy-frontend

Added response handling, working on saving state of routes from response
  Frontend/svarh/src/components/inputBar/submissionFrame/SubmissionFrame.tsx
  Frontend/svarh/src/data/response/RouteResponse.ts
  Frontend/svarh/src/data/response/routeSlice.ts
  Frontend/svarh/src/store.ts
Due: test, deploy-frontend

added addresses to attractionNYAdress.csv
  Backend/PaDOC-Query/TripAdvisorCrawler/attractionNYAddress.csv
Due: deploy-backend

Fixed async thunk logic and added extraReducers in slice. Renamed slice and moved it to proper folder.
  Frontend/svarh/package-lock.json
  Frontend/svarh/src/components/inputBar/advancedSettings/Settings/Settings.tsx
  Frontend/svarh/src/components/inputBar/advancedSettings/SettingsMenu/SettingsMenu.tsx
  Frontend/svarh/src/components/inputBar/inputFields/CityDropdown/CityDropdown.tsx
  Frontend/svarh/src/components/inputBar/inputFields/MaximumDistanceField/MaximumDistance.tsx
  Frontend/svarh/src/components/inputBar/inputFields/PoIDropdown/PoiDropdown.tsx
  Frontend/svarh/src/components/inputBar/submissionFrame/SubmissionFrame.tsx
  Frontend/svarh/src/data/api.tsx
  Frontend/svarh/src/data/response/routeSlice.ts
  Frontend/svarh/src/routeDataSlice.ts
  Frontend/svarh/src/store.ts
Due: test, deploy-frontend

added print
  Frontend/svarh/src/routeDataSlice.ts
Due: test, deploy-frontend

Marker/line functions added
  Frontend/svarh/package-lock.json
  Frontend/svarh/package.json
  Frontend/svarh/src/components/App/App.tsx
  Frontend/svarh/src/components/map/MapBase/MapBase.tsx
  Frontend/svarh/src/components/map/Marker/MapMarker.tsx
  Frontend/svarh/src/components/map/mapController/MapController.ts
Due: test, deploy-frontend

Added marker generation on API response
  Frontend/svarh/package-lock.json
  Frontend/svarh/src/components/App/App.tsx
  Frontend/svarh/src/components/inputBar/submissionFrame/SubmissionFrame.tsx
  Frontend/svarh/src/components/map/MapBase/MapBase.tsx
  Frontend/svarh/src/components/map/Marker/MapMarker.css
  Frontend/svarh/src/components/map/Marker/MapMarker.tsx
  Frontend/svarh/src/components/map/Marker/MarkerPopup.css
  Frontend/svarh/src/components/map/Marker/MarkerPopup.tsx
Due: test, deploy-frontend

Begin marker removal process
  Frontend/svarh/src/components/map/MapBase/MapBase.tsx
Due: test, deploy-frontend

Added popup on hover instead of on click
  Frontend/svarh/src/components/map/MapBase/MapBase.tsx
Due: test, deploy-frontend

Remove old origins on new API response
  Frontend/svarh/src/components/map/MapBase/MapBase.tsx
  Frontend/svarh/src/components/map/Marker/MarkerPopup.css
  Frontend/svarh/src/components/map/Marker/MarkerPopup.tsx
Due: test, deploy-frontend

Hopefully fixed package-lock.json
  Frontend/svarh/package-lock.json
  package-lock.json
Due: test, deploy-frontend

setup function added, chicago functionality prototyped
  .DS_Store
  Backend/.DS_Store
  Backend/PaDOC-Query/.DS_Store
  Backend/PaDOC-Query/PoI_Network/.DS_Store
  Backend/app.py
Due: deploy-backend

Modified file names for Chicago
  Backend/PaDOC-Query/LDAPreparePoI.py
  Backend/PaDOC-Query/PoIOSMNetwork.py
  Backend/PaDOC-Query/geocode.py
Due: deploy-backend

Fixed TripAdvisor spiders
  Backend/PaDOC-Query/TripAdvisorCrawler/tripAdvisorCrawler/spiders/tripAdvisorAddress.py
  Backend/PaDOC-Query/TripAdvisorCrawler/tripAdvisorCrawler/spiders/tripAdvisorSpider.py
Due: deploy-backend

Updated code to use correct attributes/methods and added function to create CITY_PoI_info.csv
  Backend/PaDOC-Query/ParallelContractNetwork.py
Due: deploy-backend

Got basic route being drawn, need to tweak line css to be more visible and add PoI markers
  Frontend/svarh/src/components/map/MapBase/MapBase.tsx
Due: test, deploy-frontend

Added poi nodes to route drawing and added functionality to remove lines when drawing new origins
  Frontend/svarh/src/components/map/MapBase/MapBase.tsx
  Frontend/svarh/src/components/map/Marker/MapMarker.css
  Frontend/svarh/src/components/map/Marker/MapMarker.tsx
Due: test, deploy-frontend

changed meter to mi
  Frontend/svarh/src/components/inputBar/inputFields/MaximumDistanceField/MaximumDistance.tsx
Due: test, deploy-frontend

Added route hiding functionality by clicking on origin again
  Frontend/svarh/src/components/map/MapBase/MapBase.tsx
Due: test, deploy-frontend

Fixed site icon not showing up
  Frontend/svarh/public/favicon.ico
  Frontend/svarh/public/index.html
Due: test, deploy-frontend

Made icon 64x64
  Frontend/svarh/public/favicon.ico
Due: test, deploy-frontend

PoI nodes no longer disappear when adjacent route is hidden
  Frontend/svarh/src/components/map/MapBase/MapBase.tsx
Due: test, deploy-frontend

Fixed line removal
  Frontend/svarh/src/components/map/MapBase/MapBase.tsx
Due: test, deploy-frontend

Fixed Dijktra and RWR being switched, renamed edge first and node first to poi first and origin first
  Frontend/svarh/src/data/Algorithm.ts
  Frontend/svarh/src/routeDataSlice.ts
Due: test, deploy-frontend

Added city name to matrix container
  Backend/app.py
Due: deploy-backend

Recommended hotels list fills on response
  Frontend/svarh/src/components/App/App.tsx
  Frontend/svarh/src/components/results/Results.tsx
Due: test, deploy-frontend

Improved distance output
  Frontend/svarh/src/components/results/recommendedHotels/HotelListItem/HotelListItem.tsx
Due: test, deploy-frontend

Selecting a hotel from list draws route
  Frontend/svarh/src/components/map/MapBase/MapBase.tsx
  Frontend/svarh/src/components/map/mapController/MapController.ts
  Frontend/svarh/src/components/results/Results.tsx
  Frontend/svarh/src/components/results/recommendedHotels/HotelListItem/HotelListItem.css
  Frontend/svarh/src/components/results/recommendedHotels/HotelListItem/HotelListItem.tsx
  Frontend/svarh/src/mapDataSlice.ts
  Frontend/svarh/src/routeDataSlice.ts
  Frontend/svarh/src/store.ts
Due: test, deploy-frontend

added updates to the readme
  README
Due: none

added updates to the format
  README
Due: none

changed the format
  README
Due: none

Path conditions:
  test: any of: Frontend/**/*
  deploy-frontend: any of: Frontend/**/*
  deploy-backend: any of: Backend/**/*
