Repository Dylan-Hampton/Semantic-Visit-Aware-Recommendation-of-Hotels: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-frontend, deploy-backend

.gitlab-ci.yml:

stages:
  - deploy-frontend
  - deploy-backend

cache:
  paths:
    - Frontend/svarg/node_modules/

before_script:
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_PRIVATE_KEY")
  - mkdir -p ~/.ssh
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'

deploy-frontend:
  image: node
  stage: deploy-frontend
  environment:
    name: production
    url: http://sdmay23-34.ece.iastate.edu/
  script:
    - cd Frontend/svarh/
    - bash deploy/deploy.sh
  only:
    refs:
      - main
    changes:
      - Frontend/**/*

deploy-backend:
  stage: deploy-backend
  script:
    - cd Backend/
    - bash deploy/deploy.sh
  only:
    refs:
      - main
    changes:
      - Backend/**/*

Worker Loader now only runs in non-test env
  Frontend/svarh/package-lock.json
  Frontend/svarh/src/components/map/MapBase/MapBase.tsx
  Frontend/svarh/src/components/results/generatedRoute/GeneratedRoute/GeneratedRoute.tsx
Due: deploy-frontend

Added header + submit button tests
  Frontend/svarh/src/components/App/App.test.tsx
Due: deploy-frontend

Added submission frame input tests
  Frontend/svarh/src/components/App/App.test.tsx
Due: deploy-frontend

Added tests for algorithm settings menu
  Frontend/svarh/package-lock.json
  Frontend/svarh/package.json
  Frontend/svarh/src/components/App/App.test.tsx
  Frontend/svarh/src/components/inputBar/advancedSettings/SettingsButton/SettingsButton.tsx
Due: deploy-frontend

Added tests for generated routes panel
  Frontend/svarh/src/components/App/App.test.tsx
  Frontend/svarh/src/components/results/generatedRoute/ReturnButton/ReturnButton.tsx
Due: deploy-frontend

Added some spacing for better styling
  Frontend/svarh/src/components/App/App.test.tsx
Due: deploy-frontend

Added functionality for fetching cities.
  Frontend/svarh/src/components/inputBar/advancedSettings/Settings/Settings.tsx
  Frontend/svarh/src/components/inputBar/inputFields/CityDropdown/CityDropdown.tsx
  Frontend/svarh/src/components/inputBar/inputFields/PoIDropdown/PoiDropdown.tsx
  Frontend/svarh/src/components/inputBar/submissionFrame/SubmissionFrame.tsx
  Frontend/svarh/src/components/map/MapBase/MapBase.tsx
  Frontend/svarh/src/data/City.ts
  Frontend/svarh/src/data/Constants.ts
Due: deploy-frontend

Added city and poi data endpoint
  Backend/app.py
Due: deploy-backend

Did some reworking to ensure integration with backend
  Backend/app.py
  Frontend/svarh/src/components/inputBar/inputFields/CityDropdown/CityDropdown.tsx
  Frontend/svarh/src/components/inputBar/inputFields/PoIDropdown/PoiDropdown.tsx
  Frontend/svarh/src/components/results/generatedRoute/GeneratedRoute/GeneratedRoute.tsx
  Frontend/svarh/src/data/Constants.ts
Due: deploy-frontend, deploy-backend

Fixed useEffect
  Frontend/svarh/src/components/inputBar/inputFields/PoIDropdown/PoiDropdown.tsx
Due: deploy-frontend

Fixed warnings for compile
  Frontend/svarh/src/components/App/App.tsx
  Frontend/svarh/src/components/inputBar/submissionFrame/SubmissionFrame.tsx
Due: deploy-frontend

Attempt to fix CD
  Frontend/svarh/deploy/deploy.sh
Due: deploy-frontend

Added endpoint for route generation (need to format route result and clean up code)
  Backend/app.py
Due: deploy-backend

Added functions to format the route result into a JSON
  Backend/app.py
Due: deploy-backend

User inputs for the routes endpoint through a JSON when requesting
  Backend/app.py
Due: deploy-backend

Fixed issue with route response not being reset for each origin
  Backend/app.py
Due: deploy-backend

Added frontend unit testing to ci/cd
  Frontend/svarh/.gitignore
  Frontend/svarh/package-lock.json
  Frontend/svarh/package.json
Due: deploy-frontend

Added test stage to yaml
  .gitlab-ci.yml
Due: none

Edited testing ci
  Frontend/svarh/package.json
Due: deploy-frontend

Editing testing ci in yaml
  .gitlab-ci.yml
Due: none

pipeline test
  Frontend/svarh/src/components/App/App.test.tsx
Due: deploy-frontend

pipeline test
  package.json
Due: none

fixed package.json
  Frontend/svarh/package.json
Due: deploy-frontend

Delete misplaced package.json
  package.json
Due: none

Modified PoIOSMNetwork.py to also add the hotel name to NY_ns.csv
  Backend/PaDOC-Query/PoIOSMNetwork.py
  Backend/PaDOC-Query/PoI_Network/NY_es.csv
  Backend/PaDOC-Query/PoI_Network/NY_ns.csv
Due: deploy-backend

Added origin name to routes endpoint
  Backend/app.py
Due: deploy-backend

Added max origins field to advanced settings
  Frontend/svarh/src/components/inputBar/advancedSettings/MaxOriginsField/MaxOrigins.css
  Frontend/svarh/src/components/inputBar/advancedSettings/MaxOriginsField/MaxOrigins.tsx
  Frontend/svarh/src/components/inputBar/advancedSettings/Settings/Settings.tsx
  Frontend/svarh/src/components/inputBar/advancedSettings/SettingsMenu/SettingsMenu.css
  Frontend/svarh/src/components/inputBar/advancedSettings/SettingsMenu/SettingsMenu.tsx
Due: deploy-frontend

Added data models for API requests/respones
  Frontend/svarh/src/data/request/RouteRequest.ts
  Frontend/svarh/src/data/response/Node.ts
  Frontend/svarh/src/data/response/RouteResponse.ts
Due: deploy-frontend

Added MapController class and function
  Frontend/svarh/src/components/App/App.tsx
  Frontend/svarh/src/components/map/MapBase/MapBase.tsx
  Frontend/svarh/src/components/map/mapController/MapController.ts
Due: deploy-frontend

Changed example code
  Frontend/svarh/src/components/map/MapBase/MapBase.tsx
Due: deploy-frontend

Fixed infinite loop which caused tests to run forever
  Frontend/svarh/src/components/inputBar/inputFields/PoIDropdown/PoiDropdown.tsx
  Frontend/svarh/src/components/map/MapBase/MapBase.tsx
Due: deploy-frontend

Fixed eslint errors for build
  Frontend/svarh/src/components/App/App.tsx
  Frontend/svarh/src/components/inputBar/inputFields/PoIDropdown/PoiDropdown.tsx
Due: deploy-frontend
